body {
   font-family: 'Noto Sans TC', sans-serif;
   color:#9D9D9D ;
   }
h1, h2 {
 font-family: 'Noto Sans TC', sans-serif;
 color:#343a40;
}
.subheading {
     font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary {
  background-color: #0000FF !important;
   background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
}

.text-primary {
  color: #0000FF !important
}

a {
  color: #0000FF;
}

a:hover, a:focus, a:active {
  color: #0000FF;
}

.shuoming {
	font-size:25px
}
